@import './theme_1/block.scss';
@import './theme_2/block.scss';

html, body {
    height: 100%;
}

#app {
    position: relative;
    height: 100%;
    .home {
        @include flexBox(column, flex-start, flex-start);
        width: 100%;
        height: 100%;
        .page {
            @include flexBox(column, flex-start, flex-start);
            flex: 1;
            width: 100%;
            height: 100%;
        }
    }
}

@for $i from 1 through 2 {
    [data-theme='#{$i}'] {
        .theme-#{$i}-bg {
            position: relative;
            z-index: -1;
            display: block;
            width: 100%;
            height: 100%;
            background: url(~@/assets/theme_#{$i}_bg.jpg) no-repeat center;
        }
    }
}